{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">

    {% include 'includes/navigation.html' %}
    {% include 'includes/messages.html' %}

    <div class="row">
        <div class="col-12 col-xl-12 mb-4">
            <div class="row">
                <form method="POST" class="post-form" action="/plates/">
                    {% csrf_token %}
                    <div class="container">
                        <br>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <div class="col-sm-4">
                                <h3>Enter Details</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Plate Number:</label>
                            <div class="col-sm-4">
                                <input type="text" id="plate_number" name="plate_number"
                                       value="{{ plate.plate_number }}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">User:</label>
                            <div class="col-sm-4">
                                <input type="text" id="user" name="user" value="{{ plate.user }}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label"></label>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="h5">Your Approved Vehicles [X/X]</h2>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <tbody>
                                <tr>
                                    <th scope="row">
                                        /demo/admin/index.html
                                    </th>
                                    <td>
                                        3,225
                                    </td>
                                    <td>
                                        $20
                                    </td>
                                    <td>
                                        <span class="fas fa-arrow-up text-danger mr-3"></span> 42,55%
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        /demo/admin/forms.html
                                    </th>
                                    <td>
                                        2,987
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        <span class="fas fa-arrow-down text-success mr-3"></span> 43,52%
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        /demo/admin/util.html
                                    </th>
                                    <td>
                                        2,844
                                    </td>
                                    <td>
                                        294
                                    </td>
                                    <td>
                                        <span class="fas fa-arrow-down text-success mr-3"></span> 32,35%
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        /demo/admin/validation.html
                                    </th>
                                    <td>
                                        2,050
                                    </td>
                                    <td>
                                        $147
                                    </td>
                                    <td>
                                        <span class="fas fa-arrow-up text-danger mr-3"></span> 50,87%
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        /demo/admin/modals.html
                                    </th>
                                    <td>
                                        1,483
                                    </td>
                                    <td>
                                        $19
                                    </td>
                                    <td>
                                        <span class="fas fa-arrow-down text-success mr-3"></span> 32,24%
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
