{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="row">
        <div class="col-12 col-xl-12 mb-4">
            <div class="row">
                <table class="table table-striped table-bordered table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>Plate Number</th>
                        <th>Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plate in plates %}
                    <tr>
                        <td>{{ plate.plate_number }}</td>
                        <td>{{ plate.user }}</td>
                        <td>
                            <a href="/plates/edit/{{ plate.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                            <a href="/plates/delete/{{ plate.id }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
