<nav class="sidebar d-md-block bg-primary text-white collapse px-4" id="sidebarMenu">
    <div class="sidebar-sticky pt-3 mx-auto">
        <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar mr-4">
                    <img alt="Bonnie Green"
                         class="card-img-top rounded-circle border-white" src="/static/assets/img/team/profile-picture-3.jpg">
                </div>
                <div class="d-block">
                    <a class="btn btn-secondary text-dark btn-xs" href="{% url 'logout' %}">
                        <span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"
                   class="fas fa-times" data-target="#sidebarMenu" data-toggle="collapse"
                   href="#sidebarMenu"></a>
            </div>
        </div>
        <ul class="nav flex-column">
            <h2>Logo</h2>
            <li class="nav-item  {% if 'index' in segment %} active {% endif %}">
                <a class="nav-link" href="/index.html">
                    <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item  {% if 'settings' in segment %} active {% endif %}">
                <a class="nav-link" href="/settings.html">
                    <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
                    <span>Settings</span>
                </a>
            </li>
            <li class="dropdown-divider mt-4 mb-3 border-black" role="separator"></li>
            <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
        <span class="sidebar-icon"><span class="fas fa-sign-out-alt text-danger"></span></span>
        <span>Logout</span>
    </a>
</li>

        </ul>
    </div>
</nav>

